:root{
    --persian-red: #ce3232;
    --dark: #363636;
    --grey: #bfbdbd;
    --lightGrey: #f9f9f9;
    --transition: all 0.5s ease;
    --Poppins: 'Poppins', sans-serif;
    --Mont: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}
body{
    font-family: var(--Mont);
}

/* Utilities */
a{
    color: var(--dark);
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
button{
    font-family: inherit;
    outline: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 1.2rem 0;
}
.btn{
    background: var(--persian-red);
    border: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 0.95rem;
    padding: 0.7rem;
    display: block;
    transition: var(--transition);
    cursor: pointer;
}
.btn:hover{
    background: var(--dark);
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.section-py{
    padding: 5rem 0;
}
.para-text{
    color: var(--dark);
    line-height: 1.7;
    font-size: 0.95rem;
    opacity: 0.8;
}

/* navbar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    background: #fff;
}
.navbar-nav{
    padding-left: 0;
}
.nav-brand-toggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 0;
}
.navbar-brand{
    font-size: 1.3rem;
    font-weight: 700;
}
.navbar-brand span{
    color: var(--persian-red);
}
.navbar-toggler{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: var(--dark);
    cursor: pointer;
    transition: var(--transition);
}
.navbar-toggler:hover{
    color: var(--persian-red);
}
.navbar-collapse{
    margin: 0 auto;
    padding-bottom: 1.6rem;
    display: none;
}
.nav-item{
    padding: 0.66rem 0;
    text-align: center;
}
.nav-link, .call-info{
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: var(--Poppins);
    font-weight: 600;
    opacity: 0.8;
    transition: var(--transition);
}
.call-info{
    display: block;
    text-align: center;
    color: var(--dark);
    padding: 1rem;
    cursor: pointer;
}
.nav-link:hover, .call-info:hover{
    color: var(--persian-red);
}
.btn-top{
    width: 280px;
    margin: 0.2rem auto;
}

/* header */
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/header-banner.jpg) center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header h2{
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
}
.header-title{
    color: #fff;
    font-size: 2.8rem;
    padding: 1rem 0;
}
.header button{
    width: 150px;
    cursor: pointer;
    font-weight: 500;
}

/* title */
.title{
    padding: 0.2rem;
}
.title h4{
    text-transform: uppercase;
    color: var(--grey);
    font-size: 0.8rem;
}
.title h2{
    opacity: 0.9;
    text-transform: capitalize;
    font-size: 1.7rem;
}

/* about */
.about{
    overflow-x: hidden;
}

/* chef */
.chef{
    background: var(--lightGrey);
}
.chef .title{
    text-align: center;
}
.chef-wrapper{
    margin: 2rem 0;
}
.chef-item-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.chef-item-img img{
    transition: var(--transition);
}
.chef-item-img img:hover{
    transform: scale(1.2);
}
.chef-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.6s ease-in-out 0.3s;
}
.chef-overlay p{
    font-weight: 700;
    font-size: 1.2rem;
    width: 70%;
    text-align: center;
    line-height: 1.7;
}
.chef-icons{
    display: flex;
}
.chef-icons span{
    background: var(--dark);
    margin: 0.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightGrey);
    transition: var(--transition);
}
.chef-icons span:hover{
    background: var(--persian-red);
}
.chef-item-img:hover .chef-overlay{
    transform: translateY(0);
}
.chef-item-footer{
    text-align: center;
    padding: 0.8rem;
}
.chef-item-footer h2{
    font-size: 1.4rem;
    color: var(--dark);
}
.chef-item-footer h3{
    color: var(--grey);
    text-transform: uppercase;
    font-size: 0.9rem;
}

/* menu */
.menu.section-py{
    padding-bottom: 0;
}
.menu .title{
    text-align: center;
}
.menu-wrapper{
    margin-top: 2rem;
}
.menu-item{
    position: relative;
    cursor: pointer;
}
.menu-overlay{
    height: 130px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 1.5rem;
    opacity: 0;
    transition: var(--transition);
    overflow: hidden;
}
.menu-overlay-content{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: translateY(100%);
}
.menu-overlay-content div{
    display: flex;
    justify-content: space-between;
}
.menu-overlay-content h2{
    text-transform: capitalize;
    margin-bottom: 0;
}
.menu-overlay-content h5{
    text-transform: uppercase;
    color: var(--grey);
    margin-top: 0.6rem;
    font-size: 0.8rem;
}
.menu-item:hover .menu-overlay{
    opacity: 1;
}
.menu-item:hover .menu-overlay-content{
    transform: translateY(0);
}

/* testimonial */
.testimonial{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header-banner.jpg) center/cover no-repeat fixed;
    overflow: hidden;
}
.testimonial .title{
    text-align: center;
    color: #fff;
}
.testimonial-slider{
    margin: 2rem 0;
}
.testimonial-item img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
}
.testimonial-item{
    text-align: center;
}
.testimonial-item p{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.7;
    width: 80%;
    margin: 1.5rem auto 1rem;
    color: var(--lightGrey);
    opacity: 0.9;
}
.testimonial-item h3{
    color: var(--grey);
}

/* contact */
.contact-map{
    margin-bottom: 1.8rem;
}
.contact-form{
    margin: 1rem 0;
}
.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--grey);
    padding: 1rem 0.6rem;
    font-size: 0.95rem;
    opacity: 0.8;
    margin: 0.3rem;
    outline: none;
}
.form-group{
    display: flex;
}
.btn.contact-btn{
    width: 100%;
    margin-top: 0.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

/* footer */
.footer{
    border-top: 2px solid var(--lightGrey);
}
.footer-item{
    margin-bottom: 3rem;
}
.footer-item h3{
    opacity: 0.8;
}
.footer-item .para-text{
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.6;
}
.footer-item:nth-child(3){
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/footer-img.jpg) center/cover no-repeat;
    color: #fff;
    padding: 2rem;
    border-radius: 1.3rem;
}
.footer-item:nth-child(3) .para-text{
    color: var(--grey);
    line-height: 0.5;
}
.footer-item:nth-child(3) p:not(.para-text){
    font-weight: 500;
}
.footer-icons{
    display: flex;
}
.footer-icons a{
    color: var(--persian-red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem 0.6rem 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: var(--transition);
}
.footer-icons a:first-child{
    margin-left: 0;
}
.footer-icons a:hover{
    background: var(--persian-red);
    color: #fff;
}





/* # Media Queries # */

@media screen and (min-width: 678px){
    .menu-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .header-title{
        width: 60%;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .container{
        width: 85vw;
    }
    .navbar{
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        padding-top: 1.2rem;
        padding-right: 7vw;
        padding-left: 7vw;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        flex: 1 0 auto;
        display: flex!important;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
    }
    .navbar-nav{
        flex: 1 0 auto;
        width: auto;
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .nav-info{
        flex: 0 0 300px;
        display: flex;
        justify-content: center;
    }
    .nav-brand-toggler{
        flex: 0 0 150px;
    }
    .btn-top{
        width: auto;
    }
    .nav-item{
        padding: 0 0.8rem;
    }
    .navbar-brand, .nav-link, .call-info{
        color: white;
        opacity: 1;
    }

    /*** navbar background change ***/
    .bg-navbar{
        width: 100%;
        background: #fff;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        -webkit-box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
        -moz-box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
        box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
    }
    .bg-navbar .navbar-brand{
        color: var(--dark)!important;
    }
    .bg-navbar .nav-link, .bg-navbar .call-info{
        opacity: 0.8;
        color: var(--dark)!important;
    }
    .bg-navbar .nav-link:hover, .bg-navbar .call-info:hover{
        color: var(--persian-red)!important;
    }
    /*********************/
    
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        align-items: center;
    }

    .chef-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }
    .testimonial-item p{
        width: 60%;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .contact-map iframe{
        height: 400px;
    }
    .footer-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px){
    .menu-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}